<div class="nerd-camp">

    <div class="nerd-camp__header">
        <div class="container">
            <h1 class="nerd-camp__header-text">
                Nёrd<span class="nerd-camp__logo-line">|</span>Camp
                <small>
                    Март 17-19, 2017
                </small>
            </h1>
            <div class="nerd-camp__subheader-text">
                <span>co-learning</span>
                <span>co-working</span>
                <span>co-resting</span>
            </div>
            <div class="nerd-camp__navbar" id="sticky-header-placeholder">
                <div >
                    <span class="nerd-camp__link nerd-camp__link_about-nerd-camp">
                        О формате
                    </span>
                    <span class="nerd-camp__link nerd-camp__link_past-nerd-camps">
                        Прошедшие выезды
                    </span>
                    <span id="registration-button-placeholder"></span>

                    <span class="nerd-camp__pull-right">
                        <span>
                            <a href="mailto:katriyna@gmail.com" target="_blank" class="nerd-camp__link nerd-camp__icon_mail"></a>
                        </span>
                        <span class="nerd-camp__link">
                            <a href="https://vk.com/event137331637" target="_blank" class="nerd-camp__link nerd-camp__icon_vk"></a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="nerd-camp__block" id="about-nerd-camp">
        <div class="container">
            <h3>
                <span class="nerd-camp__block-header-text">
                    О Nёrd<span class="nerd-camp__logo-line">|</span>Camp
                </span>
            </h3>

            <div class="nerd-camp__block-text">
                <p>
                    Nёrd|Camp &mdash; трёхдневный выезд загород в формате конференции <a class="nerd-camp__link" target="_blank" href="https://ru.wikipedia.org/wiki/BarCamp">BarCamp</a>.
                </p>
                <p>
                    Впервые Nёrd|Camp был организован межвузовской образовательной программой <a class="nerd-camp__link" target="_blank" href="http://gamechangers.ru/">GameChangers</a> <a class="nerd-camp__link" target="_blank" href="https://sites.google.com/site/itindustryintro/schedule/neerdcamp">весной 2011 года</a>,
                    с тех пор <span class="nerd-camp__link nerd-camp__link_past-nerd-camps">проводился 6 раз</span>.
                    На предыдущих выездах обсуждались: IT, программирование, менеджмент, социология, урбанистика, неформальное образование&hellip;
                    Традиционны для Nёrd|Camp-a вечернее BBQ, утрянняя зарядка и подвижные игры на природе.
                </p>
            </div>

            <div class="nerd-camp__block-text">
                <div class="row">
                    <div class="col-md-7 col-s-12">
                        <div class="nerd-camp__tags-cloud" id="tag-cloud-placeholder"></div>
                    </div>
                    <div class="col-md-5 hidden-xs">
                        <div id="vk_groups"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nerd-camp__block" id="past-nerd-camps">
        <div class="container">
            <h3>
                <span class="nerd-camp__block-header-text">
                    Прошедшие выезды
                </span>
            </h3>

            <div class="nerd-camp__block-text nerd-camp__block-text_center">
                <span class="nerd-camp__separator">|</span>
                <a class="nerd-camp__link" target="_blank" href="https://sites.google.com/site/itindustryintro/schedule/neerdcamp">Весна 2011</a>
                <span class="nerd-camp__separator">|</span>
                <a class="nerd-camp__link" target="_blank" href="http://gamechangers.ru/nc2">Весна 2012</a>
                <span class="nerd-camp__separator">|</span>
                <a class="nerd-camp__link" target="_blank" href="http://gamechangers.ru/nc3">Осень 2012</a>
                <span class="nerd-camp__separator">|</span>
                <a class="nerd-camp__link" target="_blank" href="https://vk.com/nerdcamp13s">Весна 2013</a>
                <span class="nerd-camp__separator">|</span>
                <a class="nerd-camp__link" target="_blank" href="http://nerdcamp.info/nc2014">Весна 2014</a>
                <span class="nerd-camp__separator">|</span>
                <a class="nerd-camp__link" target="_blank" href="http://nerdcamp.info">Весна 2015</a>
                <span class="nerd-camp__separator">|</span>
            </div>

            <div class="nerd-camp__photo-gallery">
                <div id="past-events-gallery-placeholder"></div>
            </div>
        </div>
    </div>

</div>