<div class="nerd-camp">

    <div class="nerd-camp__header">
        <div class="container">
            <h1 class="nerd-camp__header-text">
                Nёrd<span class="nerd-camp__logo-line">|</span>Camp
                <small>
                    February 3-5, 2017
                </small>
            </h1>
            <div class="nerd-camp__subheader-text">
                <span>co-learning</span>
                <span>co-working</span>
                <span>co-resting</span>
            </div>
            <div class="nerd-camp__navbar">
                <span class="nerd-camp__link">About</span>
                <span class="nerd-camp__link">Application Form</span>
                <span class="nerd-camp__link">Past Nёrd<span class="nerd-camp__logo-line">|</span>Camps</span>

                <span class="nerd-camp__pull-right">
                    <span>
                        <a href="http://google.com" target="_blank" class="nerd-camp__link nerd-camp__icon_mail"></a>
                    </span>
                    <span class="nerd-camp__link">
                        <a href="http://vk.com" target="_blank" class="nerd-camp__link nerd-camp__icon_vk"></a>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="nerd-camp__block">
        <div class="container">
            <h3>
                <span class="nerd-camp__block-header-text">
                    About Nёrd<span class="nerd-camp__logo-line">|</span>Camp
                </span>
            </h3>

            <div class="nerd-camp__block-text">
                Nёrd|Camp is a traditional 3-days event in a format of an outdoor weekend. The word "Camp" refers to barcamps, foo camps. Its program is formed by participants: specialists from IT industry, scientists and entrepreneurs.
                Nёrd|Camp has three modes:
                Co-learning: blocks of lectures on modern topics, presented by participants to each other
                Co-working: discussions, workshops
                Co-resting: outdoor activities, sport exercises every morning, BBQ
            </div>
        </div>
    </div>

    <div class="nerd-camp__block">
        <div class="container">
            <h3>
                <span class="nerd-camp__block-header-text">
                    Past Nёrd<span class="nerd-camp__logo-line">|</span>Camps
                </span>
            </h3>

            <div class="nerd-camp__photo-gallery">
                <div id="past-events-gallery-placeholder"></div>
            </div>
        </div>
    </div>

</div>