<div class="nerd-camp">

    <div class="nerd-camp__header">
        <div class="container">
            <h1 class="nerd-camp__header-text">
                Nёrd<span class="nerd-camp__logo-line">|</span>Camp
                <small>
                    December 16-18, 2016
                </small>
            </h1>
            <div class="nerd-camp__subheader-text">
                <span>co-learning</span>
                <span>co-working</span>
                <span>co-resting</span>
            </div>
            <div class="nerd-camp__navbar">
                <span class="nerd-camp__link">About</span>
                <span class="nerd-camp__link">Application Form</span>
                <span class="nerd-camp__link">Past Nёrd|Camps</span>

                <span class="nerd-camp__pull-right">
                    <span>
                        <a href="http://google.com" target="_blank" class="nerd-camp__link nerd-camp__icon_mail"></a>
                    </span>
                    <span class="nerd-camp__link">
                        <a href="http://vk.com" target="_blank" class="nerd-camp__link nerd-camp__icon_vk"></a>
                    </span>
                </span>
            </div>
        </div>
    </div>

</div>