@import "../node_modules/bootstrap-grid-only/bootstrap.css";

$nc-red-line-color: #d9230f;
$nc-grey-line-color: #ddd;
$nc-header-text-color: #222;
$nc-text-color: #333;

.nerd-camp {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: $nc-text-color;
  background-color: #fff;
  font-weight: 200;

  & .react-tabs [role=tablist] {
    border-bottom: 1px dashed $nc-grey-line-color;
  }

  & .react-tabs [role=tab][aria-selected=true] {
    border: none;
    border-bottom: 1px double $nc-red-line-color;
  }

  &__tab-content {
    height: 310px;
    padding: 0 32px;
    overflow: auto;
    border-bottom: 1px dashed $nc-grey-line-color;
    border-left: 1px solid $nc-red-line-color;
    border-top: none;
  }

  &__sticky-panel {
    display: block;
    padding: 24px 4px;

    &_fixed {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 24px 58px;
      background-color: rgba(255, 255, 255, 0.98);
      border-bottom: 1px solid $nc-grey-line-color;
    }
  }

  &__no-sticky-panel {
    display: inline-block;
    padding: 24px 4px;

    span.nerd-camp__link {
      display: none;
    }
  }

  &__pull-right {
    float: right;
  }

  &__link {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: $nc-grey-line-color;

    &:hover {
      color: $nc-red-line-color;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-color: $nc-red-line-color;

      & svg {
        fill: $nc-red-line-color;
      }
    }
  }

  &__header {
    position: relative;
    width: 100%;
    padding-top: 90px;
  }

  &__header-text {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    cursor: default;

    & small {
      font-size: 65%;
      white-space: nowrap;
      font-weight: normal;
    }
  }

  &__subheader-text {
    margin-top: 10px;
    padding-bottom: 20px;
    color: #222;
    cursor: default;

    & span {
      margin-right: 16px;
    }
  }

  &__navbar {
    border-top: dashed rgba(2, 2, 2, 0.3) 1px;
    border-bottom: dashed rgba(2, 2, 2, 0.3) 1px;
    margin: 56px 0 16px 0;
    font-weight: 400;

    & span:not(:last-child) {
      margin-right: 16px;
    };
  }

  &__logo-line {
    color: $nc-red-line-color;
  }

  &__block-header-text {
    border-bottom: dashed rgba(2, 2, 2, 0.1) 1px;
  }

  &__block {
    padding-top: 80px;
    margin-bottom: 26px;
  }

  &__block-org {
    margin-top: 50px;
  }

  &__block-text {
    line-height: 30px;

    &_center {
      margin: 80px auto;
      text-align: center;
    }
  }

  &__photo-gallery {
    margin: 40px 0;
  }

  &__separator {
    margin: 0 16px;
    font-weight: 700;
    color: $nc-red-line-color;
  }

  &__tags-cloud-container {
    margin: 36px 60px 16px 40px;
  }

  &__tags-cloud {
    margin: 40px auto;
    text-align: center;
  }

  &__org {
    text-align: center;

    & img {
      width: 170px;
      border-radius: 50%;
    }
  }

  #vk_groups {
    margin: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:active, &:visited {
    color: inherit;
    text-decoration: none;
  }
}